.copyright__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 12px 24px;
}

.copyright {
  display: flex;
  gap: 5px;
}

.copyright {
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;

  color: var(--white);
}

@media screen and (max-width: 600px) {
  .copyright__wrapper {
    flex-direction: column;
    gap: 20px;
    padding: 10px 12px 24px;
  }
}
